.body{
  margin-left: 10.4%;
  margin-right: 10.4%;
}

.TransformTitle{
  text-transform: capitalize;
  margin-block-end: 0;
}

.bodyl {
  display: flex;
  justify-content: space-between;
}

.AssetsFilesView {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
  flex: 1;
  overflow-y: auto;
  max-height: 900px;

}


@media (min-width: 1280px){
  .AssetsFilesView{
    grid-template-columns: repeat(2, 1fr);
  }
}

.AssetPrev {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  will-change: transform;
  transform-origin: center center;
}

.RightPanel {
  width: 360px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.InfoAssets p {
  margin: 8px 0;
  color: #444;
  font-size: 16px;
}


.RightPanel form input {
  padding-left: 13px;
  margin: 10px 0;
  height: 40px;
  background-color: #edeff1;
  color: #767677;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Assistant', Helvetica, Arial, sans-serif;
}

.datebox{
  height: 40px;
  background-color: #edeff1;
  border: none;
  padding-left: 13px;
  color: #767677;
  font-size: 14px;
  letter-spacing: 1px;
}

.AssetWrapper{
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
}

.styleForm{
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.ToRquest{
  font-size: 16px;
  text-transform: uppercase;
}

.before, .after{
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: none;
}

.after{
  color: #767677;
}

.FilesList{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 3px;
}
.FileItem{
  height: 43px;
  overflow: hidden;
  display: flex;
  gap: 5px;
  word-break: break-word;
}
.FileThumb{
  aspect-ratio: 1/1;
  height: auto;
}

.botton1{
  width: 100%;
  font-size: 16px;
}

.botton1::after{
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.botton1:hover{
  background-color: #2f2f2f;
  transform: translateY(-2px);
}

.botton1:hover::after{
  border: 2px solid #2f2f2f;
}

.fade-in-logo {
  width: 100%;
  object-fit: contain;
  align-items: center;
  width: 100px;
  height: 100vh;
  background-color: #fff; 
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

