.body{
  margin-left: 10.4%;
  margin-right: 10.4%;
}

.conteinerMain{
  padding: 0;
  display: grid;
  gap: 11px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  overflow-y: auto;
  overflow-x: hidden;
}

.nameAsset{
  text-decoration: none;
  color: black;
  font-weight: inherit;
}

.bg{
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 66px;
  background-image: url('./assets/outdoor_fw24_terrex_adventure_wardrobe_launch_plp_iwp_bg_d_771e98f121.avif');
  background-size: cover;
  background-position: center;
  height: 207px;
  overflow: hidden;
}

.divider1{
  height: 1px;
  width: 100%;
  background-color: #edeff1;
  margin-top: 39px; 
  margin-bottom: 20px;
}

.overflowCategories{
  width: 100%;
  overflow: hidden;
}

.fade-in-logo {
  width: 100%;
  object-fit: contain;
  align-items: center;
  width: 100px;
  height: 100vh;
  background-color: #fff; 
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {

  .conteinerMain{
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .bg{
    height: 120px;
  }

}
