.category-button{
    width: 212px;
    height: 254px;
    font-family: 'Assistant', helvetica, arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-weight: 600;
    text-transform: uppercase;
    gap: 5px;
    background-color: #ffffff;
    color: black;
    border: none;

}

.category-button:hover{
    background-color: #000000;
    color: #ffffff;
    transform: translateY(-26px);
}

.CategoryCard{
    display: flex;
    max-width: 1517px;
    gap: 5px;
    height: 254px;
    position: relative;
    overflow: hidden;
}

.category-button.active{
    background-color: #000000;
    color: #ffffff;
    transform: translateY(-26px);
}

@media (max-width: 700px) {

    .CategoryCard{
    height: 160px;
    }

    .category-button{
    width: 212px;
    height: 140px;
    font-size: 14px;
    gap: 5px;
}
  .dropbtn{
    padding: 6px;
    font-size: 12px;
  }

  .logoC {
    width: 120px;
  }

  .user-info {

    font-size: 12px;
    justify-content: right;
    letter-spacing: 1px;
  }
}