.header{
  border-bottom: 1px solid #edeff1;
  justify-content: center;
  font-family: 'Assistant', Helvetica, Arial, sans-serif;
}
.headerbox {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-right: 5px;
  margin-left: 1%;
  justify-content: end;

}

.logoC {
  width: 240px;
}
  
.menu1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.dropbtn{
  background: none;
  color:black;
  letter-spacing: 1.6px;
  font-size:16px; 
  border: none;
  width: auto;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: 26px;
  font-family: 'Assistant', Helvetica, Arial, sans-serif;
  
}

.requestmenu {
  position: relative;
}

.dpdcont {
  display: none;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  padding: 17px;
  border: 1px solid #eaeeef;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dpdcont a{
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 5px;
  padding-right: 10px;
  display: block;
}

.dpdcont a:hover {
  text-decoration: underline;
}

.dropbtn:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 29px;
  text-decoration-color: #000; 
}

.requestmenu:hover .dpdcont {
  display: block;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 16px;
  font-weight: 400;
  width: 240px;
  justify-content: right;
  letter-spacing: 1px;
}

.maxW{
  max-width: 216px;
  overflow: hidden;
  align-content: center;
  letter-spacing: 1px;
}

.user-icon {
  width: 24px;
  border-radius: 50%;
}

.profile-menu {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 18px;
}

.profile-dropdown {
  position: absolute;
  top: 7%;
  right: 0;
  background-color: white;
  border: 1px solid #eaeeef;
  padding: 10px;
  z-index: 2;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-dropdown a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 6px 10px;
  font-size: 16px;
}

.profile-dropdown a:hover {
  text-decoration: underline;
}

.logobox{
  padding: auto;
  margin: 0;
}

.profile-dropdown button.logout-btn {
  background: none;
  border: none;
  color: inherit;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 6px 10px;
  font-family: 'Assistant';
}

.logout-btn:hover{
  text-decoration: underline;
}

@media (max-width: 700px) {
  .dropbtn{
    padding: 6px;
    font-size: 12px;
  }

  .logoC {
    width: 120px;
  }

  .user-info {

    font-size: 12px;
    justify-content: left;
    letter-spacing: 1px;
    width: auto;
  }
}